html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: var(--viewport-height);
    line-height: 1;
    word-wrap: break-word;
    overflow-x: hidden;
}

body:before {
    content: "";
    display: block;
    background-attachment: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--background-height);
    z-index: 0;
    pointer-events: none;
    transform: scale(1);
    background-image: linear-gradient(45deg, #9b8bc7 0%, #eda074 100%);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
}

body:after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a486a6;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-in-out 0s, visibility 1.5s 0s;
    transform: scale(1);
}

body.is-loading:after {
    opacity: 1;
    visibility: visible;
}

:root {
    --site-language-direction: ltr;
    --site-language-alignment: left;
    --viewport-height: 100vh;
    --background-height: 100vh;
}

html {
    font-size: 18pt;
}

u {
    text-decoration: underline;
}

strong {
    color: inherit;
    font-weight: bolder;
}

em {
    font-style: italic;
}

code {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
}

mark {
    background-color: rgba(144, 144, 144, 0.25);
}

s {
    text-decoration: line-through;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: var(--viewport-height);
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 1.4375rem 1.4375rem 1.4375rem 1.4375rem;
}

#main {
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}

#main > .inner {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 2.875rem 2.25rem;
    max-width: 100%;
    width: 32rem;
}

#main > .inner > header {
    margin-bottom: 1.75rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#main > .inner > footer {
    margin-top: 1.75rem;
}

#main > .inner > * > * {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

#main > .inner > * > :first-child {
    margin-top: 0 !important;
}

#main > .inner > * > :last-child {
    margin-bottom: 0 !important;
}

#main > .inner > .full {
    margin-left: calc(-2.25rem);
    width: calc(100% + 4.5rem + 0.4725px);
    max-width: calc(100% + 4.5rem + 0.4725px);
}

#main > .inner > .full:first-child {
    margin-top: -2.875rem !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
    margin-bottom: -2.875rem !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    border-radius: 0 !important;
    left: 50%;
    right: auto;
    margin-left: -50vw;
}

#main > .inner > * > .full {
    margin-left: calc(-2.25rem);
    width: calc(100% + 4.5rem + 0.4725px);
    max-width: calc(100% + 4.5rem + 0.4725px);
}

#main > .inner > * > .full.screen {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    border-radius: 0 !important;
    left: 50%;
    right: auto;
    margin-left: -50vw;
}

#main > .inner > header > .full:first-child {
    margin-top: -2.875rem !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#main > .inner > .active > .full:last-child {
    margin-bottom: -2.875rem !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#main > .inner > .active {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

body.is-loading #main {
    opacity: 0;
    transform: scale(0.94375);
}

#main > .inner > section > * {
    transition: opacity 1s ease-in-out 0s;
}

body.is-loading #main > .inner > section > * {
    opacity: 0;
}

#main > .inner > header,
#main > .inner > footer {
    transition: opacity 0.25s ease-in-out 0.375s, visibility 0.25s linear 0.375s;
}

#main > .inner > header.hidden,
#main > .inner > footer.hidden {
    transition: opacity 0.25s ease-in-out, visibility 0.25s;
    opacity: 0;
    visibility: hidden;
}

#main > .inner > section {
    transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out,
        max-height 0.25s ease-in-out;
}

#main > .inner > section.inactive {
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

body.is-instant #main,
body.is-instant #main > .inner > *,
body.is-instant #main > .inner > section > * {
    transition: none !important;
}

body.is-instant:after {
    display: none !important;
    transition: none !important;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.deferred:before {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem 0 0 -2rem;
    animation: loading-spinner 1s infinite linear;
    transition: opacity 0.25s ease;
    transition-delay: 0.5s;
    opacity: 0;
    z-index: -1;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3rem;
}

.deferred.loading:before {
    opacity: 0.35;
    z-index: 0;
}

.buttons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}

.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

#buttons01 {
    width: calc(100% + 0.625rem);
    margin-left: -0.3125rem;
}

#buttons01 li {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 0.625rem);
    margin: 0.3125rem;
}

#buttons01 li a {
    display: flex;
    width: 5.75rem;
    height: 2.25rem;
    line-height: 2.25rem;
    vertical-align: middle;
    padding: 0 1.125rem;
    text-transform: uppercase;
    font-size: 0.625em;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.075rem;
    padding-left: calc(0.075rem + 1.125rem);
    font-weight: 300;
    border-radius: 0.375rem;
    direction: var(--site-language-direction);
    transition: color 0.25s ease, background-color 0.25s ease,
        border-color 0.25s ease;
}

#buttons01 .button {
    color: #757575;
    border: solid 1px #d1d1d1;
}

#buttons01 .button:hover {
    color: #ff9385 !important;
    border-color: #ff9385 !important;
}

#header {
    margin-bottom: rem !important;
}

h1,
h2,
h3,
p {
    direction: var(--site-language-direction);
}

h1 br + br,
h2 br + br,
h3 br + br,
p br + br {
    display: block;
    content: " ";
}

h1 .li,
h2 .li,
h3 .li,
p .li {
    display: list-item;
    padding-left: 0.5em;
    margin: 0.75em 0 0 1em;
}

#text04 br + br {
    margin-top: 0.825rem;
}

#text04 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 2.25em;
    line-height: 1.375;
    font-weight: 300;
}

#text04 a {
    text-decoration: underline;
}

#text04 a:hover {
    text-decoration: none;
}

#text06 br + br {
    margin-top: 1.05rem;
}

#text06 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
}

#text06 a {
    text-decoration: underline;
}

#text06 a:hover {
    text-decoration: none;
}

#text01 br + br {
    margin-top: 0.825rem;
}

#text01 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 1.75em;
    line-height: 1.375;
    font-weight: 300;
}

#text01 a {
    text-decoration: underline;
}

#text01 a:hover {
    text-decoration: none;
}

#text03 br + br {
    margin-top: 1.05rem;
}

#text03 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
}

#text03 a {
    text-decoration: underline;
}

#text03 a:hover {
    text-decoration: none;
}

#text05 br + br {
    margin-top: 0.825rem;
}

#text05 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 1.75em;
    line-height: 1.375;
    font-weight: 300;
}

#text05 a {
    text-decoration: underline;
}

#text05 a:hover {
    text-decoration: none;
}

#text02 br + br {
    margin-top: 1.05rem;
}

#text02 {
    color: #757575;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.75;
    font-weight: 300;
}

#text02 a {
    text-decoration: underline;
}

#text02 a:hover {
    text-decoration: none;
}

.image {
    position: relative;
    max-width: 100%;
    display: block;
}

.image .frame {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.image .frame img {
    width: inherit;
    max-width: 100%;
    vertical-align: top;
    border-radius: 0 !important;
}

.image.full .frame {
    display: block;
}

.image.full:first-child .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#image01 .frame {
    width: 6rem;
}

#image02 .frame {
    width: 10rem;
    border-radius: 100%;
}

.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}

.icons li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons li a svg {
    display: block;
    position: relative;
}

.icons li a + svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.icons li a .label {
    display: none;
}

#icons01 {
    font-size: 1.375em;
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
}

#icons01 li {
    margin: 0.375rem;
}

#icons01 li a {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    transition: color 0.25s ease, background-color 0.25s ease,
        border-color 0.25s ease;
}

#icons01 li a svg {
    width: 60%;
    height: 60%;
    transition: fill 0.25s ease;
}

#icons01 a svg {
    fill: #d1d1d1;
}

#icons01 a {
    border: solid 1px #d1d1d1;
}

#icons01 a:hover {
    border-color: #ff9385 !important;
}

#icons01 a:hover svg {
    fill: #ff9385 !important;
}

#icons01 li a + svg {
    transition: fill 0.25s ease, stroke 0.25s ease;
}

@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }

    #main > .inner {
        padding: 2.875rem 2rem;
    }

    #main > .inner > header {
        margin-bottom: 1.75rem;
    }

    #main > .inner > footer {
        margin-top: 1.75rem;
    }

    #main > .inner > * > * {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }

    #main > .inner > .full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }

    #main > .inner > .full:first-child {
        margin-top: -2.875rem !important;
    }

    #main > .inner > .full:last-child {
        margin-bottom: -2.875rem !important;
    }

    #main > .inner > .full.screen {
        margin-left: -50vw;
    }

    #main > .inner > * > .full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }

    #main > .inner > * > .full.screen {
        margin-left: -50vw;
    }

    #main > .inner > header > .full:first-child {
        margin-top: -2.875rem !important;
    }

    #main > .inner > .active > .full:last-child {
        margin-bottom: -2.875rem !important;
    }

    #buttons01 li a {
        font-size: 0.625em;
        letter-spacing: 0.075rem;
        padding-left: calc(0.075rem + 1.125rem);
    }

    #header {
        margin-bottom: 0rem !important;
    }

    #text04 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 2.25em;
        line-height: 1.375;
    }

    #text06 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.75;
    }

    #text01 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.75em;
        line-height: 1.375;
    }

    #text03 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.75;
    }

    #text05 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1.75em;
        line-height: 1.375;
    }

    #text02 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.75;
    }

    #image01 .frame {
        width: 6rem;
    }

    #image02 .frame {
        width: 10rem;
    }

    #icons01 {
        font-size: 1.375em;
        width: calc(100% + 0.75rem);
        margin-left: -0.375rem;
    }

    #icons01 li {
        margin: 0.375rem;
    }
}

@media (max-width: 480px) {
    #main > .inner > header {
        margin-bottom: 1.53125rem;
    }

    #main > .inner > footer {
        margin-top: 1.53125rem;
    }

    #main > .inner > * > * {
        margin-top: 1.53125rem;
        margin-bottom: 1.53125rem;
    }

    #buttons01 li a {
        width: 5.75rem;
    }
}

@media (max-width: 360px) {
    #main > .inner {
        padding: 2.15625rem 1.5rem;
    }

    #main > .inner > header {
        margin-bottom: 1.3125rem;
    }

    #main > .inner > footer {
        margin-top: 1.3125rem;
    }

    #main > .inner > * > * {
        margin-top: 1.3125rem;
        margin-bottom: 1.3125rem;
    }

    #main > .inner > .full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }

    #main > .inner > .full:first-child {
        margin-top: -2.15625rem !important;
    }

    #main > .inner > .full:last-child {
        margin-bottom: -2.15625rem !important;
    }

    #main > .inner > .full.screen {
        margin-left: -50vw;
    }

    #main > .inner > * > .full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }

    #main > .inner > * > .full.screen {
        margin-left: -50vw;
    }

    #main > .inner > header > .full:first-child {
        margin-top: -2.15625rem !important;
    }

    #main > .inner > .active > .full:last-child {
        margin-bottom: -2.15625rem !important;
    }

    #buttons01 {
        width: calc(100% + 0.46875rem);
        margin-left: -0.234375rem;
    }

    #buttons01 li {
        max-width: calc(100% - 0.46875rem);
        margin: 0.234375rem;
    }

    #text04 {
        font-size: 2em;
    }

    #text06 {
        font-size: 1em;
    }

    #text01 {
        font-size: 1.5em;
    }

    #text03 {
        font-size: 1em;
    }

    #text05 {
        font-size: 1.5em;
    }

    #text02 {
        font-size: 1em;
    }

    #icons01 {
        width: calc(100% + 0.5625rem);
        margin-left: -0.28125rem;
    }

    #icons01 li {
        margin: 0.28125rem;
    }
}
